.card {
  width: 384px;
  height: 326px;
  font-family: "Archivo", sans-serif;

  .container-image {
    background-color: #f3f7ff;
    width: 384px;
    height: 200px;
    text-align: center;

    img {
      margin-top: 30px;
    }

    @media (max-width: 768px) {
      width: 319px;
      height: 200px;
    }
  }

  h1 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 30px;
  }

  h2 {
    font-size: 1rem;
    font-weight: 500;
    color: #7ca2f4;
    margin-top: 15px;
  }

  p {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 30px;
  }

  /* RESPOSIVIDADE CARD */
  @media (max-width: 768px) {
    width: 319px;
    height: 326px;
    margin-top: 50px;
  }
}
